html, body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia';
  height: 100%;
}

#container {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: 'Alegreya', serif;
  background-color: black;
}

#left-pane {
  width: 300px;
  display: flex;
  flex-direction: column;
  background: black;
  border-right: 1px solid #ccc;
  padding: 12px;
  gap: 12px;
  overflow-y: auto;
  z-index: 2;
}

.panel {
  padding: 10px;
  margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.panel.highlighted {
  border: 2px solid #5E57FF;
  box-shadow: 0 0 10px rgba(94, 87, 255, 0.4);
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

#info-pane h1 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

#info-pane h3 {
  margin-top: 0;
  font-size: 16px;
  font:
}

#map {
  flex-grow: 1;
  position: relative;
}

#title {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 10px 10px;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 20px;
  z-index: 10;
}

.layer-control {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1;
}

.layer-control h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.layer-item {
  margin-bottom: 8px;
}

.layer-item label {
  margin-left: 5px;
  cursor: pointer;
}

#reset-panel {
  text-align: center;
  margin-top: 10px;
}

#reset-view-btn {
  padding: 6px 12px;
  border-radius: 6px;
  background-color: #e2e2e2;
  border: 1px solid #ccc;
  cursor: pointer;
  font-weight: bold;
}